@using TrainingProject.Web.ViewModels
@using TrainingProject.Data.Models

@model HomeViewModel
@{
    ViewData["Title"] = "Home Page Booking";
}
    <form class="form-inline">
        <a asp-action="HotelCreate">Добавить отель</a>
        <table class="table">

            @foreach (Hotel h in Model.Hotels)
            {
                <tr>
                    <td>@h.Name</td>
                    <td>
                        <a asp-action="HotelDetails" asp-controller="Home" asp-route-id="@h.Id">Подробнее</a> |
                        <a asp-action="HotelEdit" asp-controller="Home" asp-route-id="@h.Id">Изменить</a> |
                        <a asp-action="HotelDelete" asp-controller="Home" asp-route-id="@h.Id">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </form>



