@using BookingSite.Web.ViewModels
@model ErrorViewModel

@{
    ViewData["Title"] = "Ошибка";
}

<div id="errorPageWrapper">
    <div class="container">
        @*<div class="error-header">
            <label>Ошибка @(Model?.StatusCode.code) (@(Model?.StatusCode.description))</label>
        </div>*@
        <div class="error-text">
            <label>@(Model?.Message)</label>
        </div>
    </div>
</div>

