@using BookingSite.Web.ViewModels
@using BookingSite.Data.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeViewModel
@{
    ViewData["Title"] = "Home Page Booking";
}



<form class="form-inline">
    <table class="table">

        @foreach (var h in Model.Hotels)
        {
            <tr>
                <td>@h.Name</td>
                <td>
                    <a asp-action="HotelDetails" asp-controller="Home" asp-route-id="@h.Id">Подробнее</a>
                </td>
            </tr>
        }
    </table>
</form>




