@using BookingSite.Domain.DTO

@model RoomDTO
@{
    ViewData["Title"] = "Описание отеля";
}

    <form asp-action="Book" asp-controller="Home" asp-route-id="@Model.Id" asp-route-datefrom="@ViewBag.DateFrom.ToShortDateString()" asp-route-dateto="@ViewBag.DateTo.ToShortDateString()">
        @await Html.PartialAsync("~/Views/PartialView/RoomDetails.cshtml")
        <br /><br />

        @if (ViewBag.IsCanBeBooked)
        {
            @if (User.Identity.IsAuthenticated)
            {
                <input type="submit" value="Забронировать" />
            }
            else
            {
                <label>Пожалуйста, войдите в систему, чтобы забронировать</label>
            }
        }
        else
        {
            <label>На эти даты комната недоступна</label>
        }

    </form>