@using BookingSite.Domain.DTO

@model RoomDTO
@{
    ViewData["Title"] = "Описание отеля";
}

    <form asp-action="Book" asp-controller="Home" asp-route-id="@Model.Id">
        @await Html.PartialAsync("~/Views/PartialView/RoomDetails.cshtml")
        <br /><br />
        <input type="submit" value="Забронировать" />
    </form>