@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Управление Отелями и Комнатами</h2>
    <!--основной контент-->
    <div >
        @RenderBody()
    </div>
    <hr />
    <footer>
        <a href="~/Manage/Index">Вернуться на главную страницу управления Отелями и Комнатами</a>
    </footer>
